@tailwind base;
@tailwind components;
@tailwind utilities;

.front {
    z-index: 2;
}

@layer base {
    #app, .automataWindow {
        @apply h-screen w-screen font-mono;
    }
    button {
        @apply focus:outline-none appearance-none;
    }
    button.options-button {
        @apply front;
        @apply overflow-visible relative p-1 text-medium bg-dark border-medium border-4 py-1 px-2 h-16 w-16 rounded-full;
        @apply hover:text-light;
    }
    .dropdown {
        @apply bg-dark border-medium border-4 absolute p-2 top-full mt-1 left-1/2;
    }
    .dropdown h1 {
        @apply text-lg text-medium font-mono font-bold;
    }
    .dropdown-item {
        @apply bg-transparent flex items-center place-items-center gap-2 text-medium;
    }

    /* Display Text */
    .dropdown div.text {
        @apply bg-black text-light text-left p-1;
        width: 80%;
    }

    /* Value Slider */
    .dropdown-item.value-slider input[type=range] {
        @apply appearance-none bg-transparent;
        width: 70%;
    }
    .dropdown-item.value-slider input[type=range]::-webkit-slider-thumb,
    .dropdown-item.value-slider input[type=range]::-moz-range-thumb {
        @apply bg-dark border-medium border-2 rounded-full cursor-pointer;
    }
    .dropdown-item.value-slider input[type=range]::-webkit-slider-runnable-track,
    .dropdown-item.value-slider input[type=range]::-moz-range-track {
        @apply h-1 cursor-pointer bg-black border-2 border-black;
    }
    .dropdown-item.value-slider .label {
        @apply font-bold;
    }

    /* Menu */
    button.menu-button {
        @apply hover:text-light;
    }
    .dropdown-item.menu input {
        @apply bg-black text-light p-1;
    }
    .dropdown-item.menu .menu-items {
        @apply absolute bg-black p-1 overflow-y-scroll text-light;
        width: 250px;
        max-height: 350px;
    }
    .menu-item {
        @apply block text-left p-1 hover:bg-dark;
    }
}


button .material-icons {
    font-size: 36px;
    vertical-align: middle;
}

.dropdown {
    width: 350px;
    transform-origin: top left;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s ease;
  transition-property: transform opacity;
}

.fade-enter-from,
.fade-leave-to {
  transform: scaleY(0.75);
  opacity: 0;
}