@tailwind base;
@tailwind components;
@tailwind utilities;

.front {
    z-index: 2;
}

@layer base {
    #app, .automataWindow {
        @apply h-screen w-screen font-mono;
    }
    button {
        @apply front;
        @apply focus:outline-none overflow-visible relative appearance-none p-1 text-medium bg-dark border-medium border-4 py-1 px-2 h-16 w-16 rounded-full;
        @apply hover:text-light;
    }
    .dropdown {
        @apply bg-dark border-medium border-4 absolute p-2 top-full left-1/2;
    }
    .dropdown h1 {
        @apply text-lg text-medium font-mono font-bold;
    }
}

button .material-icons {
    font-size: 36px;
    vertical-align: middle;
}

.dropdown {
    width: 300px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s ease;
  transition-property: transform opacity;
  transform-origin: top left;
}

.fade-enter-from,
.fade-leave-to {
  transform: scaleY(0.75);
  opacity: 0;
}