@tailwind base;
@tailwind components;
@tailwind utilities;

.sort-front {
    z-index: 1;
}

.sort-mid {
    z-index: 0;
}

.sort-back {
    z-index: -1
}

@keyframes button-flash {
    from {
        @apply bg-accent;
    }
}

@keyframes button-errflash {
    12.5% { transform: translateX(-2px); }
    50% { @apply bg-error; transform: translateX(2px); }
    75% { transform: translateX(-2px); }
}

@layer base {

    .darktheme {
        @apply bg-dark border-black;
        border-width: 3px;
    }

    #app, .automataWindow {
        @apply font-mono;
    }

    /* Config Buttons */
    button {
        @apply focus:outline-none appearance-none;
    }
    button.options-button {
        @apply darktheme overflow-visible relative p-1 text-medium py-1 px-2 h-16 w-16 rounded-full;
        @apply hover:text-light;
    }
    button.options-button.button-active {
        @apply bg-accent text-black;
    }

    /* Dropdown Config Menu */
    .dropdown {
        @apply darktheme absolute p-2 top-full mt-1 left-1/2;
    }
    .dropdown:hover {
        cursor: default;
    }
    .dropdown h1 {
        @apply text-lg text-medium font-mono font-bold;
    }

    .dropdown .sidebg {
        @apply sort-back rounded-sm absolute bg-black border-black;
        width: 4rem;
        height: calc(100% + 2rem + 3px);
        top: -2rem;
        left: calc(-2rem - 3px);
        border-width: 3px;
    }
    .dropdown-item {
        @apply bg-transparent flex items-center place-items-center gap-2 text-medium;
    }

    /* Display Text */
    .dropdown div.text {
        @apply bg-black text-light text-left p-1;
        width: 80%;
    }

    /* Value Slider */
    .dropdown-item.value-slider input[type=range] {
        @apply appearance-none bg-transparent;
        width: 70%;
    }
    .dropdown-item.value-slider input[type=range]::-webkit-slider-thumb,
    .dropdown-item.value-slider input[type=range]::-moz-range-thumb {
        @apply bg-medium border-none rounded-full cursor-pointer;
    }
    .dropdown-item.value-slider input[type=range]::-webkit-slider-runnable-track,
    .dropdown-item.value-slider input[type=range]::-moz-range-track {
        @apply h-1 cursor-pointer bg-black border-2 border-black;
    }
    .dropdown-item.value-slider .label {
        @apply font-bold;
    }

    /* Menu */
    button.menu-open {
        @apply hover:text-light;
    }
    .dropdown-item.menu input {
        @apply bg-black text-light p-1;
    }
    .dropdown-item.menu .menu-items {
        @apply absolute bg-black p-1 overflow-y-scroll text-light;
        width: 250px;
        max-height: 350px;
    }
    .menu-item {
        @apply block text-left p-1 hover:bg-dark;
    }

    /* Button */
    .menu-button {
        @apply bg-medium hover:bg-light p-1 text-black rounded-sm pl-3 pr-3;
    }
    .menu-button.button-anim:hover {
        animation: button-flash 0.25s linear;
    }
    .menu-button.button-anim {
        animation: button-flash 0.25s linear;
    }
    .menu-button.button-error:hover {
        animation: button-errflash 0.25s linear;
    }
    .menu-button.button-error {
        animation: button-errflash 0.25s linear;
    }
    .dropdown .menu-button {
        @apply w-4/5;
    }

    /* Text Box */
    div.textbox {
        @apply fixed darktheme p-1 m-1;
        width: 500px;
        height: 325px;
        left: calc(50vw - 500px / 2);
        top: calc(50vh - 325px / 2);
    }
    div.textbox p {
        @apply text-light text-left m-1;
    }
    div.textbox span.material-icons {
        @apply absolute text-light hover:text-accent cursor-pointer;
        font-size: 32px;
        top: -1rem;
        right: -1rem;
        text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
    }
    div.textbox textarea {
        @apply bg-black text-light m-1 p-1 block;
        font-size: 10px;
        resize: none;
    }

    /* Tooltip */
    #tooltip p {
        @apply bg-accent text-black inline p-1 m-0 rounded-sm border-black;
        border-width: 3px;
    }
}

button .material-icons {
    font-size: 36px;
    vertical-align: middle;
}

.dropdown {
    width: 350px;
    transform-origin: top left;
}

.fade-enter-active,
.fade-leave-active {
  transition: clip-path 0.15s ease;
  clip-path: inset(0 0 0 0);
}

.fade-enter-from,
.fade-leave-to {
  clip-path: inset(0 0 100% 100%);
}

.growtl-enter-active,
.growtl-leave-active {
  transition: clip-path 0.15s ease;
  clip-path: inset(0 0 0 0);
}

.growtl-enter-from,
.growtl-leave-to {
  clip-path: inset(0 100% 100% 0 );
}

#_clipboard {
  position: fixed;
  top: 100vh;
}